{% extends 'base.html.twig' %}

{% block title %}Kasy{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th></th>
        </tr>

        {% for form in forms %}
            {{ form_start(form) }}
            <tr>
                <td>{{ form_row(form.name) }}</td>
                <td>{{ form_row(form.balance) }}</td>
                <td>{{ form_row(form.save) }}</td>
            </tr>
            {{ form_end(form) }}
        {% endfor %}
    </table>
{% endblock %}